@charset "UTF-8";

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(167, 37, 63);
}

h1#principal {
   text-align: center;
   background-color: darkred;
   color: white;
}

h2 {
    color: hwb(0 7% 16%);
}

.basico {
    color: rgb(46, 1, 1);
}

.destaque {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder
}